/*
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks.
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #b209c9;
    color: #f1db0f;
}

header {
    background-color: #853e05;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

.place-card,
.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.details-button {
    background-color: #a3c9a8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #6fbf73;
}


.place-details {}

.place-info h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
}

/* Style pour le bouton logout */
.login-button.logout {
    background-color: #dc3545;
    cursor: pointer;
}

.login-button.logout:hover {
    background-color: #c82333;
}
